* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Pangolin', cursive;
font-family: 'Roboto', sans-serif;
color: #2c3737;
}

/*hr{
	border: 1px solid blue;
	box-sizing: content-box;
	overflow: visible;
	display: block;
}*/

/*nav*/
.navbar{
	background-color: #33cad0 !important;
}

.navbar-brand{
	font-size: 28px;
	color: white !important;
}

.navbar-brand:hover{
	opacity: 0.5;
}

.nav-link{
	color: white !important;
	font-size: 18px !important;
	border: none;
	text-decoration: none;
	background: none!important;
}

.nav-link:hover{
	opacity: 0.5;
}

.front-icon{
	height: 350px;
	width: 400px;
	
	
}

.brand-logo {
	width: 40px;
	vertical-align: middle;
	
}

.social-logo {
	width: 40px;
	vertical-align: middle;
	box-shadow: 8px #888888;

}

.app-logo {
	width: 180px;
	height: 60px;
	vertical-align: middle;
	box-shadow: 8px #888888;

}

.app-logo:hover {
	opacity: 0.5;
}

.social-logo:hover {
	opacity: 0.5;
}



/*Landing page*/
#introPage{
	margin-bottom: 1.2em;
}

#h1-text{
  font-family: 'Pangolin', cursive;
  font-size: 5em;
}
.h3-text {
    font-weight: normal;
    margin: 1rem;
    font-style: ;
}

#admin-img{
	height: 120px;
	width: 100px;
}

#hero-img {
  max-width: 100%;
  max-height: 100%;
}

.bg-primary{
	color: red !important;
}

.btn{
	color: white !important;
	background-color: #00adb5 !important;
	width: 130px !important;
	height: 50px !important;
	box-shadow: 0px 0px 8px #888888 !important;
	padding: 0;
}
.btn:hover{
	opacity: 0.7 !important;
	box-shadow: 0px 0px 8px #888888 !important;
}

#formBtn{
	color: white !important;
	background-color: transparent !important;
	box-shadow: none !important;
	border: none !important;
/*	text-decoration: underline;*/
}
/*#formBtn:hover{
	opacity: 3 !important;
	color: gray !important ;
}*/
.mbutton{
	margin-right: 3px;
}

/*symptoms page*/
#symptomsPage{
	background-color: #f3f3f3;
	display: none;
	margin: 3rem 3rem 3rem 3rem;
	box-shadow: 0px 0px 6px 0px hsla(0, 0%, 0%, 0.5);
	border-radius: 20px;
}
.symptomsText{
    font-size: 40px;
}

/**/
.display-5{
	background-color: #f2f2f2;
	margin-bottom: 10px;
	padding: 15px;
	box-shadow: 0px 0px 6px 0px hsla(0, 0%, 0%, 0.2);
	border-radius: 20px;
	color: #696969;
	width: 100%;
}
input {
	margin-right: 10px;
}
/**/



/*travel history*/
#travelPage{
	background-color: #f3f3f3;
	display: none;
	margin: 3rem 3rem 3rem 3rem;
	box-shadow: 0px 0px 6px 0px hsla(0, 0%, 0%, 0.5);
	border-radius: 20px;
}
.travelTxt{
	font-size: 40px;
}

/*loader*/
.loaderdiv {
	margin: 11.5em 0 15em 0;
}

img.animated {
	width: 400px;
	height: auto;
}

.flex-right {
	display: flex;
	justify-content: flex-end;
}


/*age*/
#agePage{
	background-color: #f3f3f3;
	display: none;
	margin: 3rem 3rem 3rem 3rem;
	box-shadow: 0px 0px 6px 0px hsla(0, 0%, 0%, 0.5);
	border-radius: 20px;
}
.ageTxt{
	font-size: 40px;
}

/*current illness*/
#currentPage{
	background-color: #f3f3f3;
	display: none;
	margin: 3rem 3rem 3rem 3rem;
	box-shadow: 0px 0px 6px 0px hsla(0, 0%, 0%, 0.5);
	border-radius: 20px;
}

.currentTxt{
	font-size: 40px;
}

/*PuI*/
#puiPage{
	background-color: #f3f3f3;
	display: none;
	margin: 3rem 3rem 3rem 3rem;
	box-shadow: 0px 0px 6px 0px hsla(0, 0%, 0%, 0.5);
	border-radius: 20px;)
}
.puiTxt{
	font-size: 40px;
}

p {
	font-size: 25px;
	text-align: center !important;
}

/*What to do Pui*/
#puiMore{
	background-color: #f3f3f3;
	display: none;
	margin: 3rem 3rem 3rem 3rem;
	box-shadow: 0px 0px 6px 0px hsla(0, 0%, 0%, 0.5);
	border-radius: 20px;)
}

/*PUM*/
#pumPage{
	background-color: #f3f3f3;
	display: none;
	margin: 3rem 3rem 3rem 3rem;
	box-shadow: 0px 0px 6px 0px hsla(0, 0%, 0%, 0.5);
	border-radius: 20px;
}
.pumTxt{
	font-size: 40px;
}

/*what to do Pum*/
#pumMore{
	background-color: #f3f3f3;
	display: none;
	margin: 3rem 3rem 3rem 3rem;
	box-shadow: 0px 0px 6px 0px hsla(0, 0%, 0%, 0.5);
	border-radius: 20px;
}

/*send Information*/
#sendPage{
	background-color: #f3f3f3;
	display: none;
	margin: 3rem 3rem 3rem 3rem;
	box-shadow: 0px 0px 6px 0px hsla(0, 0%, 0%, 0.5);
	border-radius: 20px;
}
.sendTxt{
	font-size: 40px;
}
#name {
	width: 80%;
}
#address{
	width: 75%;
}
#email{
	width: 80%;
}
#contactNumber{
	width: 57%;
}
#select{
	width: 80%;
}

/*Success Info*/
#successInfo{
	background-color: #f3f3f3;
	display: none;
	margin: 3rem 3rem 3rem 3rem;
	box-shadow: 0px 0px 6px 0px hsla(0, 0%, 0%, 0.5);
	border-radius: 20px;
	text-align: center !important;
}
.successTxt{
	font-size: 30px
}

/*form Admin*/
#formAdmin {
	background-color: #f3f3f3;
	display: none;
	margin: 3rem 3rem 3rem 3rem;
	box-shadow: 0px 0px 6px 0px hsla(0, 0%, 0%, 0.5);
	border-radius: 20px;

}

/*For Relay To DOH*/
#relayDoh{
	background-color: #f3f3f3;
	display: none;
	margin: 3rem 3rem 3rem 3rem;
	box-shadow: 0px 0px 6px 0px hsla(0, 0%, 0%, 0.5);
	border-radius: 20px;
}

/*footer*/

.footer-section{
	background-color: #008f95 !important;
	font-family: arial !important;
	height: 180px;
}

.footer-jutsu{
	font-size: 12px;
}

.btn-2nd{
	color: red !important;
	background-color: blue !important;
}
.footer-text{
	color: white !important;
	font-size: 17px !important;
}


/*api*/
#api table {
	text-align: center;
}

.apiheader {
	margin: 10em 0 5em 0;
} 

#api table{
	margin-bottom: 5em;
}

.apibottom {
	margin-bottom: 12.2em;
}


/*faq Html*/
#map{
	background-image: 
/*		linear-gradient(
				hsla(0, 0%, 0%, 0.5),
				hsla(0, 0%, 0%, 0.5),
				hsla(0, 0%, 0%, 0.5)
			),*/
		url("../images/covid-banner.png");
	background-size: cover;
/*	background-attachment: fixed;*/
	background-position: center 55%;
	height: 70vh;
	z-index: -1;
}
.diagnos{
  margin-left: auto !important;
  margin-right: auto !important;
  position: center !important;
  height: 50% !important;
  width: 50% !important;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px hsla(0, 0%, 0%, 0.5);
}
.washImg {
  margin-left: auto !important;
  margin-right: auto !important;
  position: center !important;
  height: 50% !important;
  width: 50% !important;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px hsla(0, 0%, 0%, 0.5);
}
#knowMore {
		background-color: #f3f3f3;
}
h2{
	text-align: center;
	font-family: 'Pangolin', cursive;
}
.pl-4 li{
	font-family: 'Roboto', cursive
}
p,li {
	font-size: 18px;
}
/*h2{
	text-align: center;
}*/
.btnFaq{
	padding-bottom: 2em;
}